@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#app {
  transition: all 2.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../mesh.png");
  height: 100%;
  overflow: hidden;
}

#app img {
  animation: pulse-animation 5s infinite ease-in-out;
  height: 60%;
  z-index: 99;
}

@keyframes pulse-animation {
  0% {
    opacity: 0.01;
    transform: scale(1);
  }
  50% {
    opacity: 1.0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.01;
    transform: scale(1);
  }
}