body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#app {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

#app video {
  height: 100%;
  z-index: 1;
}

#pause {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  stroke: #003b69;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  border: none;
  stroke-width: 2;
  z-index: 2;
  background: rgb(15,23,42);
  background: -moz-linear-gradient(121deg, rgba(15,23,42,0.6) 0%, rgba(5,8,14,0.4) 100%);
  background: -webkit-linear-gradient(121deg, rgba(15,23,42,0.6) 0%, rgba(5,8,14,0.4) 100%);
  background: linear-gradient(121deg, rgba(15,23,42,0.6) 0%, rgba(5,8,14,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0F172A99",endColorstr="#05080E66",GradientType=1);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#pause:hover {
  background-color: rgba(15,23,42, 0.4);
}

#pause svg {
  width: 20px;
  height: 20px;
}